<div id="wrapper">
	<div class="wrapper-style">

		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<span class="h3"> Genomic profiles similarity search </span>
				</mat-card-title>
				<mat-card-subtitle></mat-card-subtitle>
			</mat-card-header>

			<mat-card-content>
				<hr>
				<div layout="row">
					<mat-form-field class="container p-0">
						<!--<label>Query Position REF>ALT</label>-->
						<div [matTooltipPosition]="'below'" matTooltip="(REF)(Start coordinate position)(ALT)-separate multiple variants with ':' or '&'">
							<textarea matInput rows="2" cols="60" type="text" placeholder="A23403G:C8782T" name="inputText"
								[(ngModel)]="profileText">
							</textarea>
							<!--<input matInput id="search" placeholder="8782 C>T" ng-model="inputText" ng-required="'true'" ng-keyup="$event.keyCode == 13 && query()"">-->
						</div>
					</mat-form-field>
				</div>

				<div>
					<button mat-raised-button color="primary" class="button" [disabled]="!profileText "
						(click)="profileSearch()">Search</button>
					<!--<button mat-raised-button color="primary" class="button" (click)="this.queryVisible = !this.queryVisible">Query Builder</button>-->
					<button mat-raised-button color="primary" class="button" (click)="this.refresh()">Reset</button>
					<button mat-raised-button color="primary" class="copyButton" ngbTooltip="Copied!" triggers="click:blur"
						[autoClose]="true" (click)="this.share()" [disabled]="!profileText">Share</button>
				</div>
			</mat-card-content>
		</mat-card>

		<div *ngIf="loading">
			<div class="row justify-content-center spinner-container">
				<div id="spinner"></div>
			</div>
		</div>
		<mat-card *ngIf="warning">
			<mat-card-content [hidden]="warning == null ">
				<span> {{warning}}</span>
			</mat-card-content>
		</mat-card>
		<!-- TODO probably redundant logic -->
		@if(subcombination.length) {
		<br>
		<mat-card>
			@if (!warning) {
				<app-results-viewer [data]="subcombination" (dataClick)="this.querySearch($event)"/>
			}
		</mat-card>
		}
	</div>
</div>